<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <title>CKEditor1</title>
<!--    <script src="static/ckeditor5-build-classic-2/ckeditor.js"></script>-->
    <script src="static/ckeditor5-31/build/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://{{cdn}}/prism@v1.x/themes/prism.css" rel="stylesheet" />
    <script src="https://{{cdn}}/prism@v1.x/components/prism-core.min.js"></script>
    <script src="https://{{cdn}}/prism@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>

</head>
<body>


<input type="text" id="texts">
<button type="button"></button>
<iframe id="if1" ></iframe>
<script>
    $(function() {
        $("button").on("click", function() {
            $('#if1').contents().find('html').html($("#texts").val());
        });
    });

</script>
</body>
</html>