<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code highlight</title>
    <link href="static/prism_dark.css" rel="stylesheet" />
</head>
<body>
<code class="language-html">
    &lt;h1 &gt;hello      &lt;/h1 &gt;
</code>
<pre><code class="language-python">p {
                 color: red
                 }</code></pre>
<code class="language-css">p { color: red }</code>
<pre><code class="language-css" >
p {
                 color: red
                 }
    </code></pre>
<pre><code class="language-css" ><textarea>

        </textarea>
p {
                 color: red
                 }
    </code></pre>

<textarea class="language-css" rows="40" cols="70">

        </textarea>


<script src="static/prism_dark.js"></script>
</body>
</html>