<html>
<head>
    <title>Code Editor</title>
    <h1>simple and free</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="static/free_style.css" />
</head>

<body>
<textarea id="html" placeholder="HTML"></textarea>
<textarea id="css" placeholder="CSS"></textarea>
<textarea id="js" placeholder="JavaScript"></textarea>
<p1>Here the result shows</p1>

<iframe id="code"></iframe>
<p1>https://enlight.nyc/projects/code-editor</p1>

<script type="text/javascript" src="static/free_js.js"></script>
</body>
</html>
