<!DOCTYPE html>
<html>
<head>
    ...
    <link href="static/prism_dark.css" rel="stylesheet" />
</head>
<body>

<pre><code class="language-css">p { color: red }</code></pre>

<code class="language-css">p { color: red }</code>

<script>
    window.Prism = window.Prism || {};
    window.Prism.manual = true;
</script>
<script src="static/prism_dark.js"></script>

</body>
</html>