<!DOCTYPE html>
    <head>
       <meta charset="utf-8">
        <title>CKEditor 5 – Classic editor</title>
    <script src="static/ckeditor-3/ckeditor.js"></script>
    <link href="static/ckeditor-3/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="static/ckeditor-3/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>

</head>
    <body>
    <form>
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor 4.
            </textarea>
        <script>
            // Replace the <textarea id="editor1"> with a CKEditor 4
            // instance, using default configuration.
            CKEDITOR.replace( 'editor1' );
        </script>
    </form>


    </body>
</html>